/*!--MEDIA QUERYS--*/

@import"../base/variables";

/*-!---Index*/
@media screen and (max-width: 1260px){

    /*!header*/
    header {
        width: 100%;
        height: 210px;
        nav{
            ul{
                    margin: 10px;
            }
        }
        .head-h1{
            font-size: 60px;
        }
        a{
            h1{
                font-size: 60px;
            }
        }
    }
    
    //HTML-SOCIOS//
    body{
        main{
            .socios-conteiner{
                width: 100%;
                height: 100%;
                .row-up{
                    width: 100%;
                    height: 90vh;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(2,auto);
                    padding: 20px;
                    justify-items: center;
                        .socios-portal-row{
                            width: 280px;
                            height: 220px;
                            justify-items: center;
                            img {
                                width: 280px;
                                height: 220px; }
                                h2{
                                    width: 280px;
                                    height: 40px;
                                    font-size: 25px;
                                }
                        }
                    }
                }
            }
        }
}



@media screen and (max-width: 911px){
    
    /*!header*/
    header {
        width: 100%;
        height: 300px;
        flex-direction: column;
        nav{
            ul{
                margin: 10px;
                padding: 0;
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    header{
        .head-h1{
            font-size: 55px;
        }
        a{
            h1{
                font-size: 55px;
            }
        }
    }


    /*!galeria-noticias*/
    .galeria-noticias{
        height: 100vh;
        .cards{
            flex-direction: column;
            justify-content: center;
            .card-historia{
                width: 35%;
                height: 300px;
                margin: 10px; 
        
                transition-property: none;
                img{
                    width: 220px;
                    height: 180px;
                }
                h3{
                    color: wheat;
                    font-size: 25px;
                    font-weight: 600;
                    text-align: center;
                }
            }
            .card-copas{
                width: 35%;
                height: 300px;
                margin: 10px;
                
                transition-property: none;
                img{
                    width: 220px;
                    height: 180px;
                }
                h3{
                    color: wheat;
                    font-size: 25px;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
        div{
            p{
                color: rgb(255, 255, 255);
                font-size: 15px;
                font-weight: 300;
                text-align: center;
                margin: 10px;
            }
        }
    }

    /*!HTML-HISTORIA*/
    .menu-historia{
        .grid-conteiner-hist{
            display: grid;
            margin: 0;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            gap: 10px;
            justify-content: center;
    
            grid-template-areas: 
            "header header"
            "main main"
            "footer footer"
            ;
        }
    }

    //HTML-SOCIOS//
        body{
            main{
                .socios-conteiner{
                    width: 100%;
                    height: 100%;
                    .row-up{
                        width: 100%;
                        height: 100vh;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: repeat(3,auto);
                        gap: 15px;
                        padding: 15px;
                        justify-items: center;
                            .socios-portal-row{
                                width: 280px;
                                height: 220px;
                                img {
                                    width: 280px;
                                    height: 220px; }
                                    h2{
                                        width: 280px;
                                        height: 40px;
                                        font-size: 25px;
                                    }
                            }
                }
            }
        }
    }
}

@media screen and (max-width: 876px){

    /*!galeria*/
    .galeria{
        .galeria-item{
            h2{
                font-size: 55px;
            width: 100%;
            font-style: italic;
            color: rgb(252, 252, 252);
            font-weight: 600;
            background-color: #1e458d70;
            }
        }
        
    }

    /*!galeria-noticias*/

    .galeria-noticias{
        h2{
            font-size: 60px;
        }
    }
    .galeria-noticias{
        .cards{
            .card-historia{
                width: 35%;
                height: 300px;
                margin: 10px; 
        
                transition-property: none;
                img{
                    width: 220px;
                    height: 180px;
                    margin: 10px;
                }
                h3{
                    color: wheat;
                    font-size: 25px;
                    font-weight: 600;
                    text-align: center;
                }
                
            }
            .card-copas{
                width: 35%;
                height: 340px;
                margin: 10px;
        
                transition-property: none;
            }
            img{
                width: 220px;
                height: 180px;
                margin: 10px;
            }
            h3{
                color: wheat;
                font-size: 25px;
                font-weight: 600;
                text-align: center;
            }
        }
        div{
            p{
                color: rgb(255, 255, 255);
                font-size: 15px;
                font-weight: 300;
                text-align: center;
                margin: 10px;
            }
        }
    }
    /*!noticias*/
    .noticias{
        .fixture-conteiner{
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            align-items: center;
        }
        h2{
            font-size: 60px;
        }
    }
    /*!HTML-HISTORIA*/
    .menu-historia{
        .grid-conteiner-hist{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4,1fr);
            gap: 10px;
            justify-content: center;
            .grid-historia-item1{
                font-size: 15px;
                width: 293px;
                height: 520px;
                align-items: center;
                text-align: center;
                margin: 15px;
            
                grid-column-start: 1;
                grid-column-end: 2;
            
                grid-row-start: 1;
                grid-row-end: 2;
                img{
                        width: 294px;
                        height: 429px;
                }
            }
            .grid-historia-p-item1{
                font-size: 20px;
                width: 80%;
                height: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
            
                grid-column-start: 1;
                grid-column-end: 2;
            
                grid-row-start: 2;
                grid-row-end: 3;
            }
            .grid-historia-item2{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            
            
                grid-column-start: 1;
                grid-column-end: 2;
            
                grid-row-start: 3;
                grid-row-end: 4;
                img{
                    width: 530px;
                    height: 310px;
                }
                h2{
                    font-size: 35px;
                    color: white;
                    font-style: italic;
                }
            }
            .grid-historia-item3{
                width: 80%;
                height: 100%;
            
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
    //HTML-SOCIOS//
    body{
        main{
            .socios-conteiner{
                width: 100%;
                height: 100%;
                .row-up{
                    width: 100%;
                    height: 100vh;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(3,auto);
                    gap: 15px;
                    padding: 15px;
                    justify-items: center;
                        .socios-portal-row{
                            width: 280px;
                            height: 220px;
                            img {
                                width: 280px;
                                height: 220px; }
                                h2{
                                    width: 280px;
                                    height: 40px;
                                    font-size: 25px;
                                }
                        }
            }
        }
    }
    }

@media screen and (max-width: 700px) {

    /*!galeria noticias*/


    .galeria-noticias {
        .cards{
            .card-historia{
                img{
                    width: 180px;
                    height: 160px;
                }
                h3{
                    color: wheat;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
        div{
            p{
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: 300;
                text-align: center;
                margin: 5px;
            }
        }
        .cards{
            .card-copas{
                img{
                    width: 180px;
                    height: 160px;
                }
                h3{
                    color: wheat;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }

    //HTML SOCIOS//
    main{
        .socios-conteiner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px;
            .row-up{
                width: 100%;
                height: auto;
                flex-direction: column;
                    .socios-portal-row{
                        width: 280px;
                        height: 220px;
                        img {
                            width: 280px;
                            height: 220px; }
                            h2{
                                width: 280px;
                                height: 40px;
                                font-size: 25px;
                            }
                    }
                    }
            }
        }
    }

}

@media screen and (max-width: 590px){

    /*!header*/
    header {
        width: 100%;
        height: 400px;
        flex-direction: column;
        nav{
            ul{
                margin: 5px;
            }
        }
        .head-h1{
            font-size: 45px;
        }
        a{
            h1{
                font-size: 45px;
            }
        }
    }


    /*!Galeria*/

    .galeria{
        .galeria-item{
            h2{
                font-size: 45px;
                width: 100%;
                font-style: italic;
                color: rgb(252, 252, 252);
                font-weight: 600;
                background-color: #1e458d70;
            }
        }
    }

    .galeria-noticias{
        h2{
            font-size: 55px;
        }
        .cards{
            .card-historia{
                height: auto;
                img{
                    width: 140px;
                    height: 120px;
                    margin: 5px;
                }
                h3{
                    color: wheat;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;
                }
            }
            .card-copas{
                height: auto;
                img{
                    width: 140px;
                    height: 120px;
                    margin: 5px;
                }
                h3{
                    color: wheat;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;
                }
            }
            div{
                p{
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    font-weight: 300;
                    text-align: center;
                    margin: 5px;
                }
            }
        }
    }

    /*!noticias*/
    .noticias{
        h2{
            font-size: 55px;
        }
    }

    .noticias{
        .fixture-conteiner{
            .trofeo-de-campeones{
                .escudos-conteiner{
                    img{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
        }
    }

    /*HTML COPAS*/
    .h2-copas{
        font-size: 35px;
        font-weight: 550;
        font-style: italic;
        text-align: center;
        align-items: center;
    }

    .img-copas{
        border: 1px solid rgb(190, 187, 187);
        width: 310px;
        height: 220px;
    }



    /*!HTML-HISTORIA*/
    .menu-historia{
        .titulo-hist{
            h2 {
                color: white;
                font-size: 35px;
                font-weight: 100;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
            }
        }
    .grid-conteiner-hist{
        .grid-historia-item1{
            img{
                width: 274px;
                height: 409px;
                
            }
        }
    
        .grid-historia-item2{
            img{
                width: 450px;
                height: 230px;
            }
        }
    }
    }
    //HTML SOCIOS//
    body{
        main{
            .socios-conteiner{
                width: 100%;
                height: 100%;
                .row-up{
                    width: 100%;
                    height: 90vh;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(3,auto);
                    gap: 15px;
                    padding: 15px;
                    justify-items: center;
                        .socios-portal-row{
                            width: 200px;
                            height: 160px;
                            img {
                                width: 200px;
                                height: 160px; }
                                h2{
                                    width: 200px;
                                    height: 30px;
                                    font-size: 20px;
                                }
                        }
                }
            }
        }
    }
}

    /*HTML-CT*/
    .section-ct{
        .media-tigre{
            h2{
                font-size: 30px;
            }
        }
    }
    .section-ct{
        .media-tigre{
            iframe{
                width: 460px;
                height: 230px;
            }
        }
    }

    /*!Footer*/

    footer{
        p{
            font-size: 15px;
        }
        .icon-footer{
            a{
                img{
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                }
            }
        }
    }


@media screen and (max-width: 465px){

    /*!header*/

    header {
        width: 100%;
        height: 400px;
        flex-direction: column;
        nav{
            ul{
                margin: 5px;
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        .head-h1{
            font-size: 45px ;
        }
        a{
            h1{
                font-size: 45px;
            }
        }
    }

    /*!galeria*/

    .galeria{
        .galeria-item{
            h2{
                font-size: 40px;
                width: 100%;
                font-style: italic;
                color: rgb(252, 252, 252);
                font-weight: 600;
                background-color: #1e458d70;
            }
        }
    }

    .galeria-noticias{
        h2{
            font-size: 50px;
        }
        .cards{
            .card-historia{
                img{
                    width: 140px;
                    height: 120px;
                }
                h3{
                    color: wheat;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
        div{
            p{
                color: rgb(255, 255, 255);
                font-size: 10px;
                font-weight: 300;
                text-align: center;
                margin: 5px;
            }
        }
    }

    .galeria-noticias{
        .cards{
            .card-copas{
                img{
                    width: 140px;
                    height: 120px;
                }
            }
        }
    }

    .galeria-noticias{
        .card-copas{
            h3{
                color: wheat;
                font-size: 15px;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    /*!noticias*/

    .noticias{
        h2{
            font-size: 50px;
        }
    }


    /*!HTML-HISTORIA*/
    .menu-historia{
        .grid-conteiner-hist{
            .grid-historia-item1{
                img{
                    width: 260px;
                    height: 380px;
                }
            }
        
            .grid-historia-item2{
                img{
                    width: 360px;
                    height: 190px;
                }
            }
        }
    }

    /*HTML-PLANTEL*/
    body{
        main{
            .socios-conteiner{
                width: 100%;
                height: 100%;
                .row-up{
                    width: 100%;
                    height: 80vh;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(3,auto);
                    gap: 10px;
                    padding: 10px;
                    justify-items: center;
                        .socios-portal-row{
                            width: 180px;
                            height: 160px;
                            img {
                                width: 180px;
                                height: 140px; }
                                h2{
                                    width: 180px;
                                    height: 30px;
                                    font-size: 15px;
                                }
                        }
                }
            }
        }
    }

    /*HTML-CT*/
    .section-ct{
        .media-tigre{
            h2{
                font-size: 25px;
            }
        }
    }
    .section-ct{
        .media-tigre{
            iframe{
                width: 360px;
                height: 220px;
            }
        }
    }

    /*!Footer*/

    footer{
        p{
            font-size: 10px;
        }
        .icon-footer{
            a{
                img{
                    width: 25px;
                    height: 25px;
                    margin: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 405px){

    /*!HEADER*/

    header {
        width: 100%;
        height: 400px;
        flex-direction: column;
        nav{
            ul{
                li{
                    margin: 10px;
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
        .head-h1{
            font-size: 35px;
        }
        a{
            h1{
                font-size: 35px;
            
            }
        }
    }

    /*!HTML-HISTORIA*/

    .menu-historia{
        .grid-conteiner-hist{
            .grid-historia-item2{
                img{
                    width: 340px;
                    height: 160px;
                }
            }
        }
    }
    /*HTML-PLANTEL*/
    body{
        main{
            .socios-conteiner{
                width: 100%;
                height: 100%;
                .row-up{
                    width: 100%;
                    height: 80vh;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(3,auto);
                    gap: 10px;
                    padding: 10px;
                    justify-items: center;
                        .socios-portal-row{
                            width: 160px;
                            height: 140px;
                            img {
                                width: 160px;
                                height: 140px; }
                                h2{
                                    width: 160px;
                                    height: 30px;
                                    font-size: 20px;
                                }
                        }
                }
            }
        }
    }
}

@media screen and (max-width: 370px){
/*!header*/

header {
    width: 100%;
    height: 400px;
    flex-direction: column;
    nav{
        ul{
            li{
                margin: 10px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .head-h1{
        font-size: 35px;
    }
    a{
        h1{
            font-size: 35px;
        }
    }
}

/*!galeria*/

    .galeria{
        .galeria-item {
            h2{
                font-size: 30px;
                width: 100%;
                font-style: italic;
                color: rgb(252, 252, 252);
                font-weight: 600;
                background-color: #1e458d70;
            }
        }
    }

/*!galeria noticias*/
.galeria-noticias{
    h2{
        font-size: 40px;
    }
    .cards{
        .card-historia{
            width: 180px;
            height: 200px;
            margin: 10px;
            img{
                width: 140px;
                height: 120px;
            }
            h3{
                color: wheat;
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
    div{
        p{
            color: rgb(255, 255, 255);
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            margin: 5px;
        }
    }
    .card-copas{
        width: 180px;
        height: 210px;
        margin: 10px;
        img{
            width: 140px;
            height: 120px;
        }
        h3{
            color: wheat;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
        }
    }
}
/*!noticias*/

.noticias{
    h2{
        font-size: 40px;
    }
}

/*HTML COPAS*/
.h2-copas{
    font-size: 25px;
    font-weight: 550;
    font-style: italic;
    text-align: center;
    align-items: center;
}

.img-copas{
    border: 1px solid rgb(190, 187, 187);
    width: 280px;
    height: 220px;
}


    /*!HTML-HISTORIA*/
    .menu-historia{
        .grid-conteiner-hist{
            .grid-historia-item1{
                margin: 0;
                h2{
                    font-size: nth($font-size,1 );
                }
                p{
                    font-size: nth($font-size,1);
                }
            }
            .grid-historia-item2{
                h2{
                    font-size: nth($font-size,2);
                }
                img{
                    width: 280px;
                    height: 140px;
                }
            }
        }
    }


    /*HTML-CT*/
    .section-ct{
        .media-tigre{
            h2{
                font-size: 20px;
            }
        }
    }
    .section-ct{
        .media-tigre{
            iframe{
                width: 310px;
                height: 180px;
            }
        }
    }
}